.administrative-list-modal-container {
  width: 100vw;
  height: 90vh;
  padding: 1rem;
  color: #ffffff;
  background-color: #242731;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  text-shadow: 0 0 5px #000000;

  .administrative-list-modal-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    gap: 2rem;
    padding: 1rem;

    .administrative-return-button-modal {
      background-color: transparent;
      color: white;

      .fi-rr-arrow-circle-left {
        font-size: 2rem;
      }
    }
  }

  .administrative-modal-title {
    display: flex;
    font-weight: 700;
    border-radius: 14px;
    height: 70px;
    background-color: var(--button-administrative);
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: black 1px 1px 10px;
    margin-bottom: 1rem;
  }

  .administrative-list-modal-list {
    display: flex;
    flex-direction: row;
    line-height: 1.5rem;
    gap: 1.5rem;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    flex-wrap: wrap;
    align-items: flex-start;

    .administrative-checkbox {
      margin-right: 1rem;
      width: 18px;
      height: 18px;
      accent-color: var(--button-administrative);
    }

    .note {
      color: rgba(255, 255, 255, 0.538);
      margin-left: 29px;
      font-size: 0.8rem;
    }

    .administrative-list-item {
      width: 100%;
      label {
        display: flex;
        align-items: center;
      }
    }
  }

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
    width: 75vw;
    position: fixed;
    right: 0;
    bottom: 0;
    top: auto;
    left: auto;
    border-radius: 20px;
    border: var(--button-administrative) 2px solid;
    text-shadow: 0 0 5px #000000;
    margin: 0 1.8rem 1.8rem 0;

    .administrative-list-modal-header {
      display: none;
    }

    .administrative-modal-title {
      background: none;
      margin-top: 1rem;
    }

    .administrative-list-modal-list {
      .administrative-list-item {
        width: 40%;
        margin-bottom: 1rem;
        margin-left: 3rem;
      }
    }
  }
}
