.administrative-modal-container {
  width: 100vw;
  height: 90vh;
  padding: 1rem;
  color: #ffffff;
  background-color: #242731;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  text-shadow: 0 0 5px #000000;
  .administrative-modal-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    gap: 2rem;
    padding: 1rem;
    .return-button-modal-administrative {
      background-color: transparent;
      color: white;
      .fi-rr-arrow-circle-left {
        font-size: 2rem;
      }
    }
  }
  .administrative-modal-title {
    display: flex;
    border-radius: 14px;
    height: 70px;

    background-color: var(--button-administrative);
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: black 1px 1px 10px;
    margin-bottom: 1rem;
  }
  .administrative-modal-list {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    gap: 1.5rem;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      width: 20rem;
      margin: 0 auto;
    }

    .large-image {
      width: 95%;
      height: auto;
    }

    .small-images {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .small-images img {
      width: 95%;
      height: auto;
    }

    .card-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .card-container-list {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;

      p {
        font-size: 0.8rem;
      }

      .time-ressource {
        color: #9c9db9;
      }

      .Img-ressource-container {
        width: 100px;
        padding: 7px;
      }

      .Img-ressource {
        width: 100%;
      }
    }

    @media (min-width: 1024px) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 55vh;
      width: 75vw;
      position: fixed;
      right: 0;
      bottom: 0;
      top: auto;
      left: auto;
      border-radius: 20px;
      border: #44d660 1px solid;
      box-shadow: 0 0 5px #44d660;
      text-shadow: 0 0 5px #000000;
      margin: 0 1.8rem 1.8rem 0;
      .administrative-modal-header {
        display: none;
      }
      .administrative-modal-title {
        display: none;
      }
      // .-modal-body {
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   font-size: 1.2rem;
      //   // .anticipate-release-modal-list {
      //   //   width: 70%;
      //   //   p {
      //   //     width: 100%;
      //   //   }
      //   // }
      // }
    }
  }
}

p {
  margin: 0 auto;
  padding-left: 14px;
}
