label {
  color: white;
}

small {
  color: white;
}

.connection {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .connection-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  input {
    width: 20vw;
  }

  .warning-matricule {
    color: red;
  }
  .connection-button {
    margin-top: 20px;
    width: 20vw;
  }
}
