
.success-message {
    display: block;
    color: #28a745; 
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .modal-content {
    background-color:var(--main-bg-admin-practician); 
  }

  .modal-header {
    color: #dddada; 
    border-bottom: none; 
  }
  
  .modal-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 2rem;
  }
  
  .modal-footer {
    border-top: none;
  }
  
  .button-add {
    color: #fff;
    background-color:rgb(50, 53, 66);
    border: none;
    font-size: 1.1rem;
  }

  .button-add:hover {
    background-color:#6c5dd3;
  }
  .btn-close
  {
    background-color:rgb(50, 53, 66);
  }
  
  .btn-close:hover {
    background-color: #eb2f2f; 
  }

  .button-cancel {
    color: #fff;
    background-color:rgb(50, 53, 66);
    border: none;
    font-size: 1.1rem;
  }
  
  .button-cancel:hover {
    background-color: #b02a2a; 
  }
  .form-control {
    background-color: rgb(236, 235, 235);/* background of input */
  }
  
