.form-list {
  color: white;
  background-color: #242731;
  width: 100%;
  max-height: 70%;
  border-radius: 20px;
  box-shadow: 0 0 1rem #000000;
  padding: 1rem;
  overflow: auto;
    &::-webkit-scrollbar {
      height: 0.5rem;
      width: 0.5rem;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      visibility: hidden;
    }
    &::-webkit-scrollbar-corner {
      visibility: hidden;
    }
    &:hover::-webkit-scrollbar-thumb {
      background-color: rgb(100, 100, 100);
      visibility: visible;
    }
  .form-list-table {
    width: 100%;
    .form-list-table-body {
      font-size: 0.7rem;
      .clickable-row {
        cursor: pointer;
      }
      tr {
        height: 2.5rem;
        border-bottom: #8f8f973a solid 0.5px;
        th, td {
          padding: 0.5rem;
          line-height: 1rem;
        }
        th:nth-child(3),
        td:nth-child(3) {
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .checkbox-form {
          cursor: pointer;
          accent-color: #6c5dd3;
        }
      }
      .delete-button {
        display: flex;
        background-color: #8f8f9720;
        height: 2rem;
        width: 2rem;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 0.5rem #00000075;

        .fi-rr-trash {
          color: white;
          font-size: 1.2rem;
        }
      }
    }
  }
}
