.header-location {
  display: flex;
  flex-direction: column;
  color: white;
  height: 20vh;
  padding-top: 2rem;
  gap: 10px;

  .header-logo {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .header-location {
    .header-logo {
      p {
        display: none;
      }
    }
    h1 {
      display: none;
    }
  }
}
