.button-update {
  color: #fff;
  background-color: rgb(50, 53, 66);
  border: none;
  font-size: 1.1rem;
}
.button-update:hover {
  background-color: #6c5dd3;
}

.btn-close:hover {
  background-color: #eb2f2f;
}

.button-cancel {
  color: #fff;
  background-color: rgb(50, 53, 66);
  border: none;
  font-size: 1.1rem;
}

.button-cancel:hover {
  background-color: #b02a2a;
}
