.headerAvatar {
  display: flex;
  position: absolute;
  left: 9.38%;
  top: 2.44%;
  bottom: 92.78%;
}

.navbar {
  position: absolute;
  left: 0%;
  top: 0%;
  bottom: 0%;
  background-color: var(--main-bg-admin-practician);
  width: 256px;
}

.adminAvatar {
  width: 45.28px;
  height: 48.95px;
  font-family: var(--main-font);
}

.adminName {
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
  align-items: center;
  color: white;
}

.links {
  position: absolute;
  left: 7.81%;
  right: 7.81%;
  top: 19.53%;
  bottom: 40.23%;
  display: flex;
  flex-direction: column;
}
.nav_practician {
  position: absolute;
  width: 216px;
  height: 56px;
  left: 0px;
  top: 57px;
  font-family: var(--main-font);
  color: white;
  font-size: 16px;
  background: #6C5DD3;
  border-radius: 12px;
}

.nav_practician:hover {
  background: rgb(50, 53, 66);
  cursor: pointer;
}
.nav_compte {
  position: absolute;
  width: 216px;
  height: 56px;
  left: 0px;
  top: 0px;  
  font-family: var(--main-font);
  color: white;
  font-size: 16px;
  background: var(--main-bg-admin-practician);
  border-radius: 12px;
}
.nav_compte:hover {
  background: rgb(50, 53, 66);
  cursor: pointer;
}
.nav_form {
  position: absolute;
  width: 216px;
  height: 56px;
  left: 0px;
  top: 114px;
  font-family: var(--main-font);
  color: white;
  font-size: 16px;
  background: var(--main-bg-admin-practician);
  border-radius: 12px;
}
.nav_form:hover {
  background: rgb(50, 53, 66);
  cursor: pointer;
}
.nav_stats {
  position: absolute;
  width: 216px;
  height: 56px;
  left: 0px;
  top: 171px;
  font-family: var(--main-font);
  color: white;
  font-size: 16px;
  background: var(--main-bg-admin-practician);
  border-radius: 12px;
}
.nav_stats:hover {
  background: rgb(50, 53, 66);
  cursor: pointer;
}