.preparation-understand {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #242731;
  border-radius: 20px;
  box-shadow: 0 0 1rem #000000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 37;
  width: 100vw;
  height: 95vh;
}

.understand-button {
  background: var(--button-understand);
  border-radius: 14px;
  width: 90vw;
  height: 90px;
}

p {
  color: white;
  font-size: 1.5rem;
  text-shadow: black 1px 1px 10px;
}

.title-preparation {
  display: flex;
  padding: 20px;

  .return-button-preparation .fi {
    font-size: 2rem;
    color: white;
  }

  p {
    font-size: 2rem;
  }
}

.schema-preparation {
  padding: 20px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.large-image {
  width: 95%;
  height: auto;
}

.small-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.small-images img {
  width: 95%;
  height: auto;
}

.lunch-3 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 70vw;
  margin: 0 auto;

  p {
    font-size: 1rem;
  }

  .time-ressource {
    color: #9c9db9;
  }

  .img {
    width: 200px;
    padding: 10px;
  }

  img {
    width: 100%;
  }
}
