.understand-modal-container {
  width: 100vw;
  height: 90vh;
  padding: 1rem;
  color: #ffffff;
  background-color: #242731;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  text-shadow: 0 0 5px #000000;
  .understand-modal-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    gap: 2rem;
    padding: 1rem;
    .return-button-modal-understand {
      background-color: transparent;
      color: white;
      .fi-rr-arrow-circle-left {
        font-size: 2rem;
      }
    }
  }
  .understand-modal-title {
    display: flex;
    border-radius: 14px;
    height: 70px;
    background-color: var(--button-understand);
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: black 1px 1px 10px;
    margin-bottom: 1rem;
  }
  .understand-modal-list {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    gap: 1.5rem;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    h3{
      font-size: 1.3rem;
    }
    .image-container {
      display: flex;
      flex-direction: column-reverse;
      width: 10rem;
      border-radius: 10px;
      margin: 0 auto;
      background-color: transparent;
      p {
        font-size: 0.8rem;
        color: white;
      }
    }
    .image-container::before {
      content: "";
      position: absolute;
      top: 0;
      background-color: rgba(240, 248, 248, 0.5);
      transition: all 0.9s ease;
    }

    .image-container:hover::before {
      left: 0;
    }
    .image-container:hover {
      color: rgb(255, 255, 255);
      transform: scale(1.1);
      box-shadow: 0 0 10px rgba(187, 183, 183, 0.3);
      background-color: var(--button-color);
    }

    .small-images {
      width: 5rem;
      height: 5rem;
      display: flex;
      margin: 0 auto;
    }

    .small-images img {
      height: auto;
      width: 100%;
    }

    .card-container-list {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;

      p {
        font-size: 0.9rem;
      }

      .time-ressource {
        color: #9c9db9;
      }

      .Img-ressource-container {
        width: 100px;
        padding: 7px;
      }

      .Img-ressource {
        width: 100%;
      }
    }
  }
  @media (min-width: 1024px) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    width: 75vw;
    position: fixed;
    right: 0;
    bottom: 0;
    top: auto;
    left: auto;
    border-radius: 20px;
    border: var(--button-understand);
    box-shadow: 0 0 5px var(--button-understand);
    text-shadow: 0 0 5px #000000;
    margin: 0 1.8rem 1.8rem 0;
    .understand-modal-header {
      display: none;
    }
    .understand-modal-title {
      display: none;
    }
    .understand-modal-list {
      display: flex;
      flex-wrap: wrap;
      line-height: 1.5rem;
      align-items: center;
    }
  }
  .swal2-container {
    text-align: left;
  }
}
