:root {
  --main-bg-admin-practician: rgba(36, 39, 49, 1);
  --main-bg-admin-practician-opacified: rgba(36, 39, 49, 0.9);
  --main-font: "Poppins", sans-serif;
  --button-color: rgb(153, 136, 255);
}
