:root {
  --main-bg-admin-practician: rgba(36, 39, 49, 1);
  --main-bg-admin-practician-opacified: rgba(36, 39, 49, 0.9);
  --grey-10: rgba(228, 228, 228, 0.1);
  --main-font: "Poppins", sans-serif;
  --button-color: #6c5dd3;
  --button-color-opacified: #6d5dd37c;
}
