:root {
  --main-bg-admin-practician: rgba(36, 39, 49, 1);
  --main-bg-admin-practician-opacified: rgba(36, 39, 49, 0.9);
  --grey-10: rgba(228, 228, 228, 0.1);
  --main-font: "Poppins", sans-serif;
  --button-color: #6c5dd3;
  --button-color-opacified: #6d5dd37c;
  --button-understand: #f5d23f;
  --button-understand-opacified: rgba(245, 210, 63, 0.8);
  --button-administrative: #4fd5b8;
  --button-administrative-opacified: rgba(79, 213, 184, 0.5);
  --button-prepare: #f85585;
  --button-prepare-opacified: rgba(248, 85, 133, 0.5);
  --button-anticipate: #c2eb64;
  --button-anticipate-opacified: rgba(194, 235, 100, 0.5);
  --button-checklist: #6a65f6;
  --button-checklist-opacified: rgb(106, 101, 246, 0.5);
}
